<p><strong>Welcome. Welcome welcome</strong></p>
<p>It doesn't matter if you are new or if you've been raiding with us for a while (relatively speaking), this is what you are responsible for:</p>
<p><strong>Have these addons installed:</strong></p>
<ul><li>Deadly Boss Mods</li><li>AtlasLoot Enhanced (or similar): See what gear drops you may be interested in or to compare stats before rolls are called.</li></ul>
<p><strong>Raid leaders need to have these addons as well:</strong</p>
<ul><li>ffCheck</li><li>Lootster</li><li>World of Logs</li></ul>
<p><strong>Be on time</strong>: Attendance is tracked and flaky members are cycled out of raid rotations.  The scheduled raid times imply that we actually start pulling trash or bosses when it is scheduled. Please be online and available for a raid invite 15-20 minutes before the raid is scheduled to start. </p>
<p><strong>Come prepared</strong>: Any repairs or materials purchases should happen before raid starts. If you need flasks, extra food, gear, gear enhancements or quests, please take care of it in advance.</p>
<p><strong>Don't ninja loot</strong>: We keep it simple with the following loot rules:</p>
<ul>
<li>Non-progression loot is done with `<code>/roll 100</code>` for personal main-spec loot and `<code>/roll 100-200</code>` for personal off-spec loot. If no one rolls for an item, it is disenchanted and placed in the guild bank to be sold on the auction house.</li>
<li>Progression loot isn't very different but the guild master reserves the right to add 10 points to a given roll at their discression. This is used to reward guild members and help make sure that consistent, well-behavied members get priority.</li>
<li>Mounts and quest items are rolled by everyone with `<code>/roll 100</code>`. The caveat is that you are only allowed one mount per raid night; You can't roll on a second mount if you win the first.</li>
</ul>
<p><strong>Upcoming raids</strong>: <strong>Monday night 9pm to midnight</strong> and <strong>Wednesday night 9pm to midnight</strong>.</p>
<p><strong>Past raids</strong>: Stats can be found on the world of logs <a href="http://worldoflogs.com/guilds/77976/">on-the-clock guild page/</a>.</p>
