<h1>Welcome, welcome welcome</h1>
<p>It doesn't matter if you are new or if you've been raiding with us for a while (relatively speaking), this is what you are responsible for:</p>
<p><strong>Have these addons installed:</strong></p>
<ul><li>Deadly Boss Mods</li><li>Recount</li><li>SKG</li></ul>
<p><strong>Be on time</strong> Attendance is tracked and flaky members are cycled out of raid rotations.  The scheduled raid times imply that we actually start pulling trash or bosses when it is scheduled. Please be online and available for a raid invite 15-20 minutes before the raid is scheduled to start. </p>
<p><strong>Come prepared</strong> Any repairs or materials purchases should happen before raid starts. If you need flasks, extra food, gear, gear enhancements or quests, please take care of it in advance.</p>
<h2>Frequently Asked Questions</h2>

<p><strong>What loot rules do we use?</strong></p>
<p>The guild uses suicide kings because it is easy to understand, allows us to quickly move through gear/loot distribution in-raid and is transparent. If you've never used it before, go read <a href="http://www.wowwiki.com/Suicide_Kings">http://www.wowwiki.com/Suicide_Kings</a>.</p>

<p><strong>If dkp points aren't given, how is good/bad behavior handled.</strong></p>
<p>Good behavior is rewarded and acknowledged by placement in raid events and being able to take advantage of the guild bank. Being absent, generally unavailable or acting inappropriate during guild events gets you removed from guild bank access and low priority placement in guild events.</p>